<div class="col-sm-8 blog-main">  
  <!-- will look for a partial _blog.html.erb (singular) and it will iterate @blogs object based on the partial model-->
  <h2><%= @blog.title %></h2>
  <hr>
  <p><%= @blog.body %></p>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <b> | </b>
  <%= link_to 'Back', blogs_path %>

</div>


