<div class="col-md-8">
  <h1>Topics Page</h1>
  <hr>
  <!-- will look for a partial _topic.html.erb (singular) and it will iterate @topics object based on the partial model-->
  <div class="row">
    <%= render @topics %>
  </div>
</div>


