<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Dragos Stoian</h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <!-- method found in helpers/application_helper.rb-->
      <%= new_nav_helper "nav-link", "span" %>
      <!-- method found in helpers/application_helper.rb-->
      <%= login_helper "nav-link" %>
    </nav>
  </div>
</header>