<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">In this portfolio I have listed a few projects I have worked on with drag and drop feature implemented. My goal is to fill this page with great applications.</p>
    <p>
      <%= link_to "About Me", about_me_path, class: "btn btn-primary" %>
      <%= link_to "Contact", contact_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>