<div class="app-card-containter">
  <div class="card">
    <h1>About me</h1>
    <hr />
    <div class="row">
      <div class="col-md-4">
        
        <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
      </div>

      <div class="col-md-8">
        <p>Something Something dark side, Something Something complete ...</p>
      </div>
      
    </div>
  </div>
</div>

