<div class="app-card-containter">
  <div class="card">
    <h1>Contact info</h1>
    <hr />
    <p>Alucard Logistics, address</p>
    <p><%= number_to_phone "5555565645" %></p>

    <p><%= number_to_currency "250" %></p>

    <p><a href="mailto:alucardlogistics@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
</div>
