<div class="app-card-containter">
  <div class="card">
    <h1>Contact info</h1>
    <hr />
    <p>Dragos Stoian | Alucard Logistics</p>

    <p><a href="alucardlogistics@gmail.com">AlucardLogistics@gmail.com</a></p>

    <p><a href="mailto:alucardlogistics@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>
</div>
