<main role="main" class="inner cover home-page">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">It is my passion to bring great ideas life.</p>
  <p class="lead">
    <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>